In [28]:
from src.data.market_returns import get_market_returns
import numpy as np

In [31]:
df = get_market_returns()
df.index = df.index.strftime('%Y')

In [32]:
df.head()["BRK-A"]
df.loc['1977'] = np.nan
df.loc['1978'] = np.nan

In [33]:
df["BRK-A"]
df = df.sort_index()
data = np.array(df["BRK-A"])
print(data)

[        nan         nan         nan         nan  0.31764706  0.38392857
  0.69032258 -0.02671756  0.9372549   0.1417004   0.04609929  0.59322034
  0.84574468 -0.23054755  0.35580524  0.29834254  0.3893617   0.24961715
  0.57352941  0.0623053   0.34897361  0.52173913 -0.19857143  0.26559715
  0.06478873 -0.03769841  0.1580756   0.04332344  0.00819113  0.24114195
  0.28738976 -0.31779661  0.02691511  0.21421371 -0.04728103  0.16822796
  0.32701775  0.27037662 -0.12477876  0.23418099]

In [34]:
print(len(data))

40

In [18]:
good_years.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>BRK-A</th>
      <th>SP500TR</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1981</th>
      <td>0.317647</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1982</th>
      <td>0.383929</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1983</th>
      <td>0.690323</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1985</th>
      <td>0.937255</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1986</th>
      <td>0.141700</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [26]:
arr = np.array(good_years.index)
inter = lambda x: (int(x) -1 )
funct = np.vectorize(inter)
funct(arr)

array([1980, 1981, 1982, 1984, 1985, 1986, 1987, 1988, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1999, 2000, 2002, 2003, 2004, 2005,
       2006, 2008, 2009, 2011, 2012, 2013, 2015])

In [ ]:
def get_good_years():
    df = get_market_returns()
    df.index = df.index.strftime('%Y')
    good_years = df[df["BRK-A"] > 0]
    arr = np.array(good_years.index)
    inter = lambda x: (int(x) -1 )
    funct = np.vectorize(inter)
    print(funct(arr))

In [29]:
get_good_years()

array([1980, 1981, 1982, 1984, 1985, 1986, 1987, 1988, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1999, 2000, 2002, 2003, 2004, 2005,
       2006, 2008, 2009, 2011, 2012, 2013, 2015])