In [14]:
from src.features.build_features import get_market_returns
import pandas as pd
import numpy as np

In [15]:
df = get_market_returns()
df.index = df.index.strftime('%Y')

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>BRK-A</th>
      <th>SP500TR</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1979-12-31</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1980-12-31</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1981-12-31</th>
      <td>0.317647</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1982-12-31</th>
      <td>0.383929</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1983-12-31</th>
      <td>0.690323</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
good_years = df[df["BRK-A"] > 0]

In [17]:
bad_years = df[df["BRK-A"] <= 0]

In [18]:
good_years.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>BRK-A</th>
      <th>SP500TR</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1981</th>
      <td>0.317647</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1982</th>
      <td>0.383929</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1983</th>
      <td>0.690323</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1985</th>
      <td>0.937255</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1986</th>
      <td>0.141700</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [26]:
arr = np.array(good_years.index)
inter = lambda x: (int(x) -1 )
funct = np.vectorize(inter)
funct(arr)

array([1980, 1981, 1982, 1984, 1985, 1986, 1987, 1988, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1999, 2000, 2002, 2003, 2004, 2005,
       2006, 2008, 2009, 2011, 2012, 2013, 2015])

In [ ]:
def get_good_years():
    df = get_market_returns()
    df.index = df.index.strftime('%Y')
    good_years = df[df["BRK-A"] > 0]
    arr = np.array(good_years.index)
    inter = lambda x: (int(x) -1 )
    funct = np.vectorize(inter)
    print(funct(arr))

In [29]:
get_good_years()

array([1980, 1981, 1982, 1984, 1985, 1986, 1987, 1988, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1999, 2000, 2002, 2003, 2004, 2005,
       2006, 2008, 2009, 2011, 2012, 2013, 2015])